.main {
    width: 80%;
    height: 15%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
}

.main button {
    padding: 1.75%;
    border: 0;
    background: none;
    cursor: pointer;
}

.check {
    width: 10%;
    height: 10%;
    object-fit: contain;
    border-radius: 50%;
}